@import url(https://fonts.googleapis.com/css?family=League+Spartan);

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 97%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

html {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: 'League Spartan', serif;
}

body {
  margin: 0;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

header {
  top: 0;
  background-image: url(images/bg-pattern-top-desktop.svg);
  background-position: top left;
}

@media(width < 600px){
  header {
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-position: top;
  }
}

footer {
  background-image: url(images/bg-pattern-bottom-desktop.svg);
  background-position: bottom right;
  bottom: 0;
}

@media(width < 600px){
  footer {
    background-image: url(images/bg-pattern-bottom-mobile.svg);
    background-position: bottom;
  }
}

.sps-box {
  padding: 0 10rem;
  display: grid;
  grid-gap: 2rem;
}

@media (width <1400px) {
  .sps-box {
    padding: 2rem 2rem;
  }
}

.sps-rating-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

@media (width < 600px) {
  .sps-rating-row {
    grid-template-columns: 1fr;
  }
}

.sps-description-box {
  display: grid;
  color: var(--very-dark-magenta);
}

@media (width < 600px) {
  .sps-description-box {
    text-align: center;
  }
}

.sps-description-box h1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.sps-description-box p {
  line-height: 1.75rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.sps-rating-box {
  display: grid;
  grid-template-columns: repeat(2, 10%) 50% repeat(2, 10%);
  grid-template-rows: repeat(3, 30%);
  grid-gap: 1rem;
  grid-template-areas:
    'a a a . .'
    '. b b b .'
    '. . c c c';
}

@media (width < 900px) {
  .sps-rating-box {
    grid-template-columns: none;
    grid-template-areas: unset;
    grid-template-rows: repeat(3, minmax(5rem, 30%));
  }
}

.first-rating {
  grid-area: a;
}
.second-rating {
  grid-area: b;
}
.third-rating {
  grid-area: c;
}

@media (width < 900px) {
  .first-rating,
  .second-rating,
  .third-rating {
    grid-area: unset;
  }
}

.sps-rating-card {
  background-color: var(--soft-pink);
  display: flex;

  border-radius: 1rem;
}

.sps-rating {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
}

@media (width < 900px) {
  .sps-rating {
    grid-template-columns: unset;
  }
}

.sps-rating p {
  color: var(--very-dark-magenta);
  font-weight: 700;
  letter-spacing: 0.07rem;
}

@media (width < 900px) {
  .sps-rating p {
    margin: 0;
  }
}

.sps-stars-rating {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
}

@media (width < 900px) {
  .sps-stars-rating {
    align-items: flex-end;
  }
}

.sps-testimonials-row {
  display: grid;
  grid-gap: 0.5rem 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 10px) auto repeat(2, 10px);

  grid-template-areas:
    'a . .'
    'a b .'
    'a b c'
    '. b c'
    '. . c';
}

@media (width< 600px) {
  .sps-testimonials-row {
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas: unset;
  }
}

.first-testimonial {
  grid-area: a;
}
.second-testimonial {
  grid-area: b;
}
.third-testimonial {
  grid-area: c;
}

@media (width< 600px) {
  .first-testimonial,
  .second-testimonial,
  .third-testimonial {
    grid-area: unset;
  }
}

.sps-testimonial-card {
  background-color: var(--very-dark-magenta);
  border-radius: 0.5rem;
  padding: 2rem;
}

.sps-testimonial-card-header {
  display: grid;
  grid-gap: 0 1rem;
  grid-template-columns: 40px auto;
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    'd e'
    'd f';
}

.sps-testimonial-card-header-avatar {
  border-radius: 50%;
  grid-area: d;
  width: 35px;
  margin: auto;
}
.sps-testimonial-card-header-fullname {
  grid-area: e;
  margin: 0;
  color: white;
}

.sps-testimonial-card-header-competence {
  grid-area: f;
  margin: 0;
  color: hsl(300, 43%, 57%);
}

.sps-testimonial-card-text {
  color: white;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
